{% load static %}

    {% include 'sub_website/acceuil/nav_bar.html' %}

    {% if prefered %}
        <header class="masthead text-center text-white d-flex" style="background-image: url(&quot;{% static 'sub_website/acceuil/assets/img/kawin-harasai-k60JspcBwKE-unsplash.jpg'%}&quot;);height : 450px;">
            <div class="container my-auto" style="backdrop-filter: blur(0.5);">
                <div class="row">
                    <div class="col">
                        <h3 class="text-uppercase"><strong style="font-size: 43px;background-color: rgba(11,10,10,0.31);">Voici les aliments substitués préférés par nos utilisateurs</strong></h3>
                    </div>
                </div>
            </div>
        </header>
    <section id="product_result" style="background-color: #E8A75D;position: relative;">
    <div class="container">
        <div class="row space-rows">
            {% for product in prefered  %}
            <div class="col" id="{{product.codebar}}">
                    <a href="/product/{{product.codebar}}">
                        <div class="card cards-shadown cards-hover">
                            <div class="card-header" style="background-image:url({{product.image}}); background-size:cover;background-position:center; background-repeat: no-repeat;">
                                <span class="badge badge-primary border rounded-circle shadow-lg" style="font-size: 25px; position : absolute; top : -30px; right: 0px ; text-transform: uppercase;" >{{product.grade}}</span>
                                <span class="badge badge-primary border rounded-circle shadow-lg" style="font-size: 25px; position : absolute; top : -30px; left: 0px ; text-transform: uppercase;" >{{product.favorited}}</span>

                            </div>
                            <div class="card-body">
                                <p class="cardbody-sub-text">{{product.name}}<p>
                            </div>
                        </div>
                    </a>
            </div>
            {% endfor %}
    
        <!-- End: Animation Cards -->
        {% if paginate %}
        <div class="clearfix"></div>
        <div class="btn-toolbar" style="margin-left: 276px;">
            {% if products.has_previous %}
                    <a class="btn btn-primary"  href="?page=1" style="background-color: #345A61;margin-right: 21px;">Première page</a>
                    <a class="btn btn-primary"  href="?page={{ products.previous_page_number}}" style="background-color: #345A61;margin-right: 21px;">Précedent</a>
            {% endif %}
            {% if products.has_next %}
                    <a class="btn btn-primary"  href="?page={{ products.next_page_number}}" style="background-color: #345A61;margin-right: 21px;">Suivant</a>
                    <a class="btn btn-primary"  href="?page={{ products.paginator.num_pages}}" style="background-color: #345A61;margin-right: 21px;">Dernière page</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
</section>

{% else %}

    <header class="masthead text-center text-white d-flex" style="background-image: url(&quot;{% static 'sub_website/acceuil/assets/img/kawin-harasai-k60JspcBwKE-unsplash.jpg'%}&quot;);">
        <div class="container my-auto" style="backdrop-filter: blur(0.5);">
            <div class="row">
                <div class="col" id ="no_results">
                    <h3 class="text-uppercase"><strong style="font-size: 43px;background-color: rgba(11,10,10,0.31);">Personne n'a encore favorisé de produits.</strong></h3>
                </div>
            </div>
        </div>
    </header>

{% endif %}
    <!-- Start: Footer Basic -->
{% include 'sub_website/acceuil/footer.html' %}