{% load static %}
<div class="footer-basic">
        <footer>
            <!-- Start: Links -->
            <ul class="list-inline text-center d-flex justify-content-around">
                <li class="list-inline-item"><a href="{% url 'legals' %}" style="font-size: 24px;font-family: 'Open Sans';">MENTIONS LEGALES</a></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item"></li>
                <li class="list-inline-item"><a href="{%url 'website-acceuil' %}#contact" style="font-size: 24px;font-family: 'Open Sans';">CONTACT</a></li>
            </ul>
            <!-- End: Links -->
        </footer>
    </div>
    <!-- End: Footer Basic -->    <script src="{% static 'sub_website/acceuil/assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'sub_website/acceuil/assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'sub_website/acceuil/assets/js/bs-init.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'sub_website/acceuil/assets/js/creative.js'%}"></script>
    <script src="{% static 'sub_website/acceuil/assets/js/fav.js'%}"></script>
    <script src="{% static 'sub_website/acceuil/assets/js/notyf.min.js' %}"></script>


</body>
</html>