{% load static %}

{% include 'sub_website/acceuil/nav_bar.html' %}


<header class="masthead text-center text-white d-flex" style="background-image: url(&quot;{% static 'sub_website/acceuil/assets/img/kawin-harasai-k60JspcBwKE-unsplash.jpg'%}&quot;);/*backdrop-filter: blur(0.5);*/">
    <div class="container bg-secondary border rounded my-auto" style="backdrop-filter: blur(0.5);height: 312px;">
        <h1 style="color: rgb(0,0,0);margin-bottom: 40px;">Pur Beure</h1>
        <ul>
            <li style="color: black;margin-bottom: 6px;">OpenFoodFact Pour les données des produits</li>
            <li style="color: black;margin-right: 0px;margin-bottom: 6px;">Icon carotte : Carrot by Fabien Jouin from the Noun Project<br /></li>
            <li style="color: black;margin-bottom: 9px;">Creative Boostrap pour le thème CSS</li>
            <li style="color: black;margin-bottom: 10px;">Copyright Bayard Maniraho </li>
            <li style="color: black;">Tous droit réservés</li>
        </ul>
    </div>
</header>

{% include 'sub_website/acceuil/footer.html' %}